<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>copy</title>
    <script src="/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" v-model.trim="msg">
        <button @click="copy">复制</button>
        <input type="text" v-model="msg2"><br>
        <p style="color: blue;" v-if="success">复制成功</p>
    </div>
    
</body>
    <script>
        Vue.config.productionTip = false;   //组织vue产生生产提醒

        new Vue({
            el:'#root',
            data:{
                msg:'',
                msg2:'',
                success:false
                
            },
            methods: {
                copy:function(){
                    this.msg2=this.msg
                    this.success=true
                    
                }
            },
        })
    </script>
</html>